<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
    <link rel="stylesheet" href="assets/style.css">

    <!-- navigation -->
    <%- include('partials/navigations') %>
    
</head>

<body>
    <br>
    <br>
    <h1>ABOUT US</h1>
    <p>GoAroundUs is a tour organizer based in Semarang, Indonesia.
        <br>We are focusing our activities on walking tours in the downtown of Semarang</p>
    <p>Why Semarang ?</p>
    <p>Because there are many historic buildings from the Dutch colonial heritage, and the place still holds beauty and
        mystery to this day</p>

    <p>Why choose GoAroundUs ?</p>
    <p>We are not just an ordinary tour organizer but we love Semarang and its cultural heritage and the natural beauty
        from the bottom of our hearts</p>
    <p>we want to share it with all to our clients all over the world.</p>

</body>

</html>