<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="assets/style.css" rel="stylesheet">
    <title>contact</title>

    <!-- navigation -->
    <%- include('partials/navigations') %>
</head>

<body>
    <br>
    <br>
    <h1>CONTACT US <img id="call" src="https://image.flaticon.com/icons/png/512/34/34067.png"></h1>
    <p>If you have any questions regarding our services</p>
    <p>or you would like to organize your own tour and walking tour by your own </p>
    <p>or you want to confirm your payment, </p>
    <p>please send us an email and don't forget to pick the subject of your message
        before sending it to us </p>
    <p>Thank you.</p>
    <p>For more info, please contact us at info@goaroundus.com or call us on +62 812-2345-67910</p>
</body>

</html>