<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Awesome Apps</title>
    <link rel="stylesheet" href="assets/style.css">
    
    <!-- navigation -->
    <%- include('partials/navigations') %>
</head>

<body>

    <h1>Halllooo , Welcome Student !!</h1>
    <h2>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit numquam magni illum ipsum alias delectus
        adipisci rem in, maxime a et laborum quos tempora provident voluptatibus assumenda possimus. Ut perspiciatis
        pariatur, possimus blanditiis quibusdam necessitatibus at hic quod autem cum atque reprehenderit, corrupti
        ducimus, nostrum similique consectetur voluptates harum neque.</h2>
</body>

</html>