<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Awesome Apps</title>
    <link rel="stylesheet" href="assets/style.css">

    <!-- navigation -->
    <%- include('partials/navigations') %>
</head>

<body>
    <br>
    <br>
    <h1>
        Lorem ipsum dolor
    </h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis temporibus blanditiis doloremque quidem eos
        vero sequi non, esse sapiente totam ipsam dolor maiores, labore aperiam ex iure veniam accusantium. Dolorum
        similique aliquam nemo aliquid, explicabo error perferendis tempore reiciendis sint quaerat rerum aperiam
        laudantium magnam molestiae cupiditate distinctio iure! Distinctio id dolor numquam, obcaecati dolore sapiente
        recusandae commodi deleniti aliquid animi? Sit impedit, accusamus corrupti voluptatem vero veritatis quod.
        Repudiandae iste minus voluptates sed! Quibusdam nisi porro animi consectetur mollitia nesciunt! Deleniti nulla
        maxime expedita nam laudantium dolorem? Non dolor accusantium amet perspiciatis rem ipsam delectus voluptates
        maiores esse veritatis. Ab sapiente, in quisquam non quidem ratione? Tempore velit molestiae obcaecati eaque ad
        explicabo fugit a laudantium nemo blanditiis voluptatem amet assumenda hic sequi magnam accusamus dolores,
        nulla, harum itaque adipisci et delectus? Iste, provident, fugit odio vel voluptatibus, unde nobis maiores
        perspiciatis accusamus quod quo! Eius voluptatem rem in, repellat nesciunt maxime aspernatur odit tempore
        architecto molestias deserunt tenetur voluptate qui! Nisi omnis minima ipsam voluptate, sit voluptatum id magnam
        ipsa quaerat totam qui at molestias. Rem, voluptatum ut quasi laudantium aperiam culpa accusamus? Fuga
        perspiciatis necessitatibus nesciunt odit placeat deleniti odio ullam dolor? Sint perferendis quo quia
        distinctio!
    </p>

</body>

</html>