<!DOCTYPE html>
<html lang="en">
<!-- HEADER -->
<%- include('partials/header') %>
<!-- navigation -->
<%- include('partials/navigations') %>
<body>
    <br>
    <br>
    <h1>ALL ARTICLES</h1>
    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem molestiae quam vitae. Sint odio dolores
        corporis illo? Voluptates non quae corporis aut praesentium distinctio ipsam velit consectetur modi ad? Sequi
        voluptate totam impedit ducimus quaerat, vel, harum nam sunt recusandae sapiente velit nulla voluptates incidunt
        debitis modi sint neque autem. Laborum ipsum sequi ducimus fugiat officia totam saepe non ullam cupiditate quas
        est dolor atque repellat amet odit soluta, id accusamus culpa sed? Obcaecati neque cum soluta quibusdam!
        Consectetur tempore, incidunt in animi corrupti voluptates maxime, saepe expedita dolorem eius culpa molestias
        debitis impedit? Quod perferendis ratione magnam et maiores consequatur placeat autem quis accusantium. Delectus
        laboriosam hic expedita ab amet ex dolore qui officiis sed libero labore adipisci explicabo praesentium, quod
        sint fugit inventore possimus architecto itaque provident dolorem et id. Soluta quos tempora sapiente eius,
        vitae earum autem temporibus dicta esse inventore. Minus accusamus placeat quisquam iure, esse nulla quam
        facilis non debitis eveniet modi. Perspiciatis sapiente facilis obcaecati deleniti iure minus excepturi
        incidunt! Nam officiis, atque quos totam adipisci, velit odio molestiae provident beatae nostrum aperiam
        praesentium nemo iure, voluptates ut quibusdam sequi nisi recusandae accusantium expedita deleniti temporibus.
        Error veniam possimus optio et, commodi iste aliquid?</h2>
</body>
<!-- FOOTER -->
<%- include('partials/footer') %>

</html>