<!DOCTYPE html>
<html lang="en">
<!-- HEADER -->
<%- include('partials/header') %>

<!-- navigation -->
<%- include('partials/navigations') %>

<body>
    <br>
    <br>
    <h1>
        Lorem ipsum dolor
    </h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur optio vero aliquid accusantium fuga dolorem tempora, soluta amet laboriosam aspernatur obcaecati minus voluptas, iste sint iure? Voluptates quisquam iusto dignissimos et cupiditate distinctio vitae, earum consectetur ex unde dolor esse ad animi modi ea at deleniti vel, saepe id iure sit eligendi. Soluta, distinctio facilis! Dolores, veniam, quasi veritatis eaque aut, nobis consectetur voluptate molestiae quae ea iure earum. Vel totam ipsa, quidem rerum quaerat exercitationem sit dolor est necessitatibus cum quisquam ad amet impedit voluptatibus blanditiis at, repudiandae voluptate molestias nemo. Minus dignissimos facilis quisquam dolor dolorem vitae praesentium.
    

</body>
<!-- FOOTER -->
<%- include('partials/footer') %>

</html>