<!DOCTYPE html>
<html lang="en">
<!-- HEADER -->
<%- include('../partials/header') %>
<!-- navigation -->
<%- include('../partials/navigations') %>
<body>
    <br>
    <br>
    <h1>DETAIL ARTICLES</h1>
    <h2>INI DETAIL ARTIKEL YAAA!
    </h2>
</body>
<!-- FOOTER -->
<%- include('../partials/footer') %>

</html>