<!DOCTYPE html>
<html lang="en">
<!-- HEADER -->
<%- include('../partials/header') %>
<!-- navigation -->
<%- include('../partials/navigations') %>
<body>
    <br>
    <br>
    <h1>ALL ARTICLES</h1>
    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, facere consequatur cumque nostrum ratione ex iste quaerat excepturi sint aut!
    </h2>
</body>
<!-- FOOTER -->
<%- include('../partials/footer') %>

</html>